<% if (theme.social_links) { %>
    <p>
      <% var nb_links = theme.social_links.length %>
      <% var i = 0 %>
      <% for(var {label, icon, link} of theme.social_links) { %>
        <% var title = label || icon %>
        <% if (icon == 'mail') { %>
          <a class="icon u-email" target="_blank" rel="noopener" href="<%- link %>" aria-label="<%- title %>" title="<%- title %>">
            <i class="iconfont icon-mail"></i><!--
      ---></a>
        <% } else if (icon == 'rss') { %>
          <a class="icon" target="_blank" rel="noopener" href="<%- link %>" aria-label="<%- title %>" title="<%- title %>">
            <i class="fa-solid fa-rss"></i>
          </a>
        <% } else { %>
          <a class="icon u-url" target="_blank" rel="noopener me" href="<%- url_for(link) %>" aria-label="<%- title %>" title="<%- title %>">
            <i class="iconfont icon-<%= icon %>-fill"></i><!--
      ---></a><!--
    ---><% } %><!--
    --->
      <% } %>
    </p>
  <% } %>