
<div class="container-fluid nopadding-x">
  <div class="row nomargin-x">
    <div class="side-col d-none d-lg-block col-lg-2">
      <%- inject_point('postLeft') %>
    </div>

    <div class="col-lg-8 nopadding-x-md">
      <div class="container nopadding-x-md" id="board-ctn">
        <div class="h1 post-title" >
          <%= page.subtitle || page.title %>
        </div>
        <div class="post-meta-info">
          <div style="display: flex;align-items: center;">
            <a  href="/about">
              <img class="post-avatar-img" src="<%= theme.navbar.blog_avatar %>" alt="avatar" />
            </a>
           
            <div>
              <a  href="/about">
                <span class="author p-author h-card meta-item" itemprop="author" itemscope itemtype="http://schema.org/Person" style="font-weight: 700;">
                  <span class="p-name" itemprop="name"><% if (page.author) { %><%- page.author.toUpperCase() %><% } else { %><%- config.author.toUpperCase() %><% } %></span>
                </span>
              </a>
              
              <span class="meta-item">
                <%- partial('_partials/post/date', { post: page, class_name: 'postdate' }) %>

                <span class="meta-item">
                   <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                   <!-- <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span> -->
                   <!-- <span id="busuanzi_container_page_pv">
                     View <span id="busuanzi_value_page_pv"></span> times
                   </span> -->
                   <span id="busuanzi_container_page_pv">
                     <i class="iconfont icon-eye"></i>
                     <span id="busuanzi_value_page_pv"></span>
                   </span>
                </span>
              </span>
            </div>
          </div>

          <div class="post-social-icon-area">
            <span class="meta-item">
              <%- partial('_partials/post/category') %>
            </span>

            <%- partial('_partials/post/share', { icon_class_name: '' }) %>
          </div>
          
        </div>
        <div id="board">
          <article class="post-content mx-auto">
            <h1 id="seo-header"><%= page.subtitle || page.title %></h1>
            <% if (theme.post.updated.enable && theme.post.updated && compare_date(page.date, page.updated)) { %>
              <p id="updated-time" class="note note-<%= theme.post.updated.note_class || 'info' %>" style="<%= theme.post.updated.relative ? 'display: none' : '' %>">
                <% if (theme.post.updated.relative) { %>
                  <% if (theme.post.updated.content) { %>
                    <!-- compatible with older versions-->
                    <%- theme.post.updated.content %><%- date(page.updated, 'YYYY-MM-DDTHH:mm:ssZ') %>
                  <% } else { %>
                    <%- __('post.updated', date(page.updated, 'YYYY-MM-DDTHH:mm:ssZ')) %>
                  <% } %>
                  <%- partial('_partials/plugins/moment.ejs') %>
                <% } else { %>
                  <% if (theme.post.updated.content) { %>
                    <!-- compatible with older versions-->
                    <%- theme.post.updated.content %><%- date(page.updated, theme.post.updated.date_format) %>
                  <% } else { %>
                    <%- __('post.updated', date(page.updated, theme.post.updated.date_format)) %>
                  <% } %>
                <% } %>
              </p>
            <% } %>
            <% if (page.encrypt === true) { %>
              <%- inject_point('postMarkdownBegin') %>
              <%- page.content %>
              <%- partial('_partials/plugins/encrypt') %>
              <%- inject_point('postMarkdownEnd') %>
            <% } else { %>
              <div class="markdown-body">
                <%- inject_point('postMarkdownBegin') %>
                <%- page.content %>
                <%- inject_point('postMarkdownEnd') %>
              </div>
            <% } %>
            <hr/>
            <div class="post-social-icon">
              <%- partial('_partials/post/share', { icon_class_name: '' }) %>
            </div>
            <div>
              <%- inject_point('postMetaBottom') %>

              <%- inject_point('postCopyright') %>

              <% if (theme.post.prev_next.enable && !page.hide) { %>
                <div class="post-prevnext my-3">
                  <article class="post-prev col-6">
                    <% const prev = prev_post(page) %>
                    <% if (prev) { %>
                      <a href="<%= url_for(prev.path) %>" title="<%= prev.title %>">
                        <i class="iconfont icon-arrowleft"></i>
                        <span class="hidden-mobile"><%= prev.title %></span>
                        <span class="visible-mobile"><%- __('post.prev_post') %></span>
                      </a>
                    <% } %>
                  </article>
                  <article class="post-next col-6">
                    <% const next = next_post(page) %>
                    <% if (next) { %>
                      <a href="<%= url_for(next.path) %>" title="<%= next.title %>">
                        <span class="hidden-mobile"><%= next.title %></span>
                        <span class="visible-mobile"><%- __('post.next_post') %></span>
                        <i class="iconfont icon-arrowright"></i>
                      </a>
                    <% } %>
                  </article>
                </div>
              <% } %>
            </div>

            <%- inject_point('postComments') %>
          </article>
        </div>
      </div>
    </div>

    <div class="side-col d-none d-lg-block col-lg-2">
      <%- inject_point('postRight') %>
    </div>
  </div>
</div>

<%- partial('_partials/markdown-plugins') %>

<% if(theme.post.custom && theme.post.custom.enable && theme.post.custom.content && page.custom !== false) { %>
  <!-- Custom -->
  <div class="col-lg-7 mx-auto nopadding-x-md">
    <div class="container custom post-custom mx-auto">
      <%- page.custom || theme.post.custom.content %>
    </div>
  </div>
<% } %>
